.wrapper {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 150px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.text {
    margin-left: 100px;
}

.text h1 {
    display: block;
    height: 50px;
    font-size: 18pt;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
}

.likes {
    color: #0e4786;
}