.AboutUserBlock {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.PersonalInfoBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.PersonalInfoBlock h1 {
    display: block;
    height: 50px;
    margin-left: 40px;
    font-size: 28pt;
    font-family: 'Didact Gothic', sans-serif;
}

.PersonalInfoBlock h2 {
    margin-left: 40px;
    font-size: 14pt;
    line-height: 1.2;
    font-family: 'Didact Gothic', sans-serif;
}

.PersonalInfoBlock img {
    width: 300px;
}

.PersonalInfoBlock img:hover {
    cursor: pointer;
}

.PersonalInfoBlock b {
    display: block;
    float: left;
    font-size: 14pt;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 800;
    margin-right: 20px;
}

.PersonalInfoBlock i {
    font-style: italic;
    font-weight: 800;
}