.wrapper {
    display: grid;
    grid-template-areas: "h h" 'd m';
    grid-template-rows: 20px 1fr;
    grid-template-columns: 3fr 10fr;
    max-height: calc(100vh - 100px);
    grid-row-gap: 10px;
}

.header {
    grid-area: h;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 10fr;
    border-bottom: 2px solid #a8b0f6;
}

.dialogsTitle {
    margin-left: 30px;
    color: #a8b0f6;
}

.messagesTitle {
    margin-left: 30px;
    color: #a8b0f6;
}

a {
    text-decoration: none;
    color: #0e4786;
}

.activeC {
    padding-left: 30px;
    outline: none;
    background-color: #f2f2f6;
}

.activeC:focus{
    outline: none;
}

.dialogs {
    grid-area: d;
    background-color: white;
    max-height: 100vh;
    overflow: auto;
}

.dialog h2 {
    margin-left: 30px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14pt;

}

.dialog {
    height: 50px;
    display: flex;
    align-items: center;
}

.messages {
    display: grid;
    grid-row-gap: 20px;
    overflow: auto;
}

.messageWrapper {
    width: 400px;
    height: 100px;
    display: grid;
    grid-template-rows: 2fr;
    background-color: white;
    border: 1px solid #a8b0f6;
    border-radius: 15px;
    margin-left: 50px;

}

.right {
    margin-left: 320px;
}

.message{
    padding: 20px;
}

.message h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14pt;
}

.messagesWrapper {
    max-height: calc(100vh - 100px);
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 4fr;
    background-color: #f2f2f6;
}